.mat-toolbar{
    background-color:#5a5a5a;
    color: #000000;
    border: none;
    border-radius: 8px;
    justify-content: center;
}


.dashboard-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  .kpi-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  
  .kpi-card {
    flex: 1 1 200px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
  }
  
