<mat-card class="home-card">
    <h1>Bem-vindo à HighTech</h1>
    <p>
      Este é o sistema de gerenciamento da loja gamer <strong>HighTech</strong>.
      Aqui você pode gerenciar seus clientes, produtos, fornecedores, vendas e muito mais de forma rápida, prática e eficiente.
    </p>
  
    <p>
      Use o menu lateral para navegar pelas seções do sistema. 
      Se precisar de ajuda, acesse a aba de suporte ou entre em contato com o administrador.
    </p>
  
    <img src="assets/img/controller.png" alt="image/png" class="home-image" />
  </mat-card>
  




  
