<mat-card>
    <mat-card-title> Excluir Fornececdor</mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nome Fantasia</mat-label>
            <input matInput placeholder="" [(ngModel)]="fornecedor.forNomeFantasia" name="forNomeFantasia" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput placeholder=" 00.000.000/0000-00" [(ngModel)]="fornecedor.forCnpj" name="forCnpj" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Razão Social</mat-label>
            <input matInput placeholder="" [(ngModel)]="fornecedor.forRazaoSocial" name="forRazaoSocial" disabled>
        </mat-form-field>

        <mat-label class="Contato">Contato</mat-label>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" [(ngModel)]="fornecedor.conEmail" name="conEmail" disabled email maxlength="100">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="(00) 00000-0000" [(ngModel)]="fornecedor.conCelular" name="conCelular" disabled>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Telefone Comercial</mat-label>
            <input matInput placeholder="(00) 0000-0000" [(ngModel)]="fornecedor.conTelefoneComercial" name="conTelefoneComercial" disabled>
        </mat-form-field>
  
        <mat-label class="Endereco">Endereço</mat-label>
  
        <mat-form-field appearance="outline">
            <mat-label>Rua</mat-label>
            <input matInput placeholder="" [(ngModel)]="fornecedor.endRua" name="endRua" disabled>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput placeholder="" [(ngModel)]="fornecedor.endNumero" name="endNumero" disabled>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="" [(ngModel)]="fornecedor.endCidade" name="endCidade" disabled>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput placeholder="#####-###" [(ngModel)]="fornecedor.endCep" name="endCep" disabled maxlength="10">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="" [(ngModel)]="fornecedor.endEstado" name="endEstado" disabled >
        </mat-form-field>

    </form>

    <div class="button-container">

    <button mat-raised-button (click)="deleteFornecedor()" color="primary">
        Excluir
    </button>
   
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>

</mat-card>
