<mat-card>

    <mat-card-title>Excluir cliente</mat-card-title>

    <form>

        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="" [(ngModel)] = "cliente.cliNome" name="cliNome" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="###.###.###-##" [(ngModel)] = "cliente.cliCpf" name="cliCpf" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" [(ngModel)] = "cliente.conEmail" name="conEmail" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="(00) 0000-0000" [(ngModel)] = "cliente.conCelular" name="conCelular" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Endereço</mat-label>
            <input matInput placeholder="" [(ngModel)] = "cliente.endCidade" name="endCidade" disabled>
        </mat-form-field>

    </form>
    <div class="button-container">

    <button id="botaoDeletClinete" mat-raised-button (click)="deleteCliente()" color="primary">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</div>


</mat-card>
