.footer {
    background-color: #e1e6e3;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 8px 16px;
}

.footer span {
    font-size: 1.1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 4px;
}

.material-icons {
    font-size: 20px; /* ou ajuste para 18px, 24px conforme o layout */
    vertical-align: middle;
}
