<!-- venda-read.component.html -->
<table mat-table [dataSource]="vendas">
  <!-- Colunas -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let venda">{{venda.vndId}}</td>
  </ng-container>

  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef>Cliente</th>
    <td mat-cell *matCellDef="let venda">{{venda.cliente.cliNome}}</td>
  </ng-container>

  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let venda">{{venda.vndData | date}}</td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let venda">{{venda.vndTotal | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let venda">
      <a mat-button [routerLink]="['/vendas/update', venda.vndId]">Editar</a>
      <button mat-button (click)="delete(venda.vndId)">Excluir</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<a mat-raised-button routerLink="/vendas/create">Nova Venda</a>
