<div class="BarraPesquica">
    <mat-form-field appearance="outline" class="search-field">
        <mat-label>Pesquisar</mat-label>
        <input matInput (keyup)="aplicarFiltro($event)" placeholder="Digite para filtrar...">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z4">
    <table mat-table [dataSource]="vendas" class="full-width-table" style="width: 100%;">
  

      <ng-container matColumnDef="vndId">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{ row.vndId }}</td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let row">{{ row.cliente.cliNome }}</td>
      </ng-container>

      <ng-container matColumnDef="formaPagamento">
        <th mat-header-cell *matHeaderCellDef>Forma Pagamento</th>
        <td mat-cell *matCellDef="let row">{{ row.formaPagamento.fpgNome }}</td>
      </ng-container>

      <ng-container matColumnDef="vndConcluida">
        <th mat-header-cell *matHeaderCellDef>Concluída?</th>
        <td mat-cell *matCellDef="let row">{{ row.vndConcluida ? 'Sim' : 'Não' }}</td>
      </ng-container>

      <ng-container matColumnDef="vndDataVenda">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let row">{{ row.vndDataVenda | date:'dd/MM/yyyy' }}</td>
      </ng-container>

      <ng-container matColumnDef="vndTotal">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let row">{{ row.vndTotal | currency:'BRL' }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/vendas/update/{{ row.vndId }}" class="edit" title="Editar">
            <i class="material-icons">edit</i>
          </a>
          <a routerLink="/vendas/delete/{{ row.vndId }}" class="delete" title="Excluir">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>
    </div>