<!-- Formulário de criação de produto -->
<mat-card>
    <!-- Título do formulário -->
    <mat-card-title>Novo Produto</mat-card-title>
    
    <!-- Formulário -->
    <form>
      <mat-form-field appearance="outline">
        <mat-label>nome</mat-label>
        <input matInput placeholder="" [(ngModel)]="product.proNome" name="proNome" required maxlength="100">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Preço de custo (R$)</mat-label>
        <input matInput placeholder="R$" [(ngModel)]="product.proPrecoCusto" name="proPrecoCusto" required maxlength="15">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Preço de venda (R$)</mat-label>
        <input matInput placeholder="R$" [(ngModel)]="product.proPrecoVenda" name="proPrecoVenda" required maxlength="50">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="" [(ngModel)]="product.proDescricao" name="proDescricao" required maxlength="50">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Quantidade em Stock</mat-label>
        <input matInput placeholder="" [(ngModel)]="product.proQuantidadeStock" name="proQuantidadeStock" required maxlength="255">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <input matInput placeholder="" [(ngModel)]="product.proStatus" name="proStatus" required maxlength="10">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <input matInput placeholder="" [(ngModel)]="product.proCategoria" name="proCategoria" required maxlength="30">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Código de barras</mat-label>
    <input matInput placeholder="" [(ngModel)]="product.proCodigoBarras" name="proCodigoBarras" required maxlength="14">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Fornecedor</mat-label>
  <mat-select [(ngModel)]="product.fornecedor" name="fornecedor" required #fornecedorNgModel="ngModel">
    <mat-option *ngFor="let fornecedorItem of fornecedores" [value]="fornecedorItem">
      {{ fornecedorItem.forNomeFantasia }}
    </mat-option>
  </mat-select>
</mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Marca</mat-label>
        <input matInput placeholder="" [(ngModel)]="product.proMarca" name="proMarca" required maxlength="50">
    </mat-form-field>
    </form>
    
    <div class="button-container">
    
    <button mat-raised-button (click)="createProduct()" color="primary">
      Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
    </div>

  </mat-card>